In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
base_loc = '/Users/devendragovil/Library/Application Support/inaturalist/'

In [7]:
df = pd.read_csv(base_loc + 'observations.csv', sep='\t')

In [8]:
df.shape

(94765503, 8)

In [9]:
df.head()

,observation_uuid,observer_id,latitude,longitude,positional_accuracy,taxon_id,quality_grade,observed_on
0,526ababd-aff2-4ce8-b111-d8013b9d8b42,505,38.609740,-122.767302,NaN,53137.0,research,2011-05-30
1,192a2b2c-1def-4172-b1c4-674efef4eaba,347,41.007900,-95.897141,NaN,47157.0,needs_id,2011-06-02
2,ca563500-5c4b-4471-ae14-8977fe14cff9,347,NaN,NaN,NaN,54964.0,casual,2011-06-02
3,4c29f4cc-3b42-4d6d-872a-fd1007007a75,347,41.007900,-95.897141,NaN,358161.0,needs_id,2011-06-02
4,966c3d38-de4d-4d31-a0f3-b32b7deb1ea3,533,-25.719343,27.187214,NaN,2334.0,research,2007-06-27

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94765503 entries, 0 to 94765502
Data columns (total 8 columns):
 #   Column               Dtype
---  ------               -----
 0   observation_uuid     object
 1   observer_id          int64
 2   latitude             float64
 3   longitude            float64
 4   positional_accuracy  float64
 5   taxon_id             float64
 6   quality_grade        object
 7   observed_on          object
dtypes: float64(4), int64(1), object(3)
memory usage: 5.6+ GB

In [11]:
df.drop(columns=['observation_uuid'], inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94765503 entries, 0 to 94765502
Data columns (total 7 columns):
 #   Column               Dtype
---  ------               -----
 0   observer_id          int64
 1   latitude             float64
 2   longitude            float64
 3   positional_accuracy  float64
 4   taxon_id             float64
 5   quality_grade        object
 6   observed_on          object
dtypes: float64(4), int64(1), object(2)
memory usage: 4.9+ GB

In [13]:
df['taxon_id'].nunique()

482245

In [22]:
df_taxon = pd.read_csv(base_loc + 'taxa.csv', sep='\t')

In [27]:
print(df_taxon[df_taxon['taxon_id'] == 47219]['ancestry'].values)

['48460/1/47120/372739/47158/184884/47201/124417/326777/47222/630955/47221/199939/538904/47220/578086']

In [29]:
df_taxon[df_taxon['taxon_id'] == 47219]

,taxon_id,ancestry,rank_level,rank,name,active
33065,47219,48460/1/47120/372739/47158/184884/47201/124417...,10.0,species,Apis mellifera,True

In [21]:
df_taxon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   taxon_id    10 non-null     int64
 1   ancestry    10 non-null     object
 2   rank_level  10 non-null     int64
 3   rank        10 non-null     object
 4   name        10 non-null     object
 5   active      10 non-null     bool
dtypes: bool(1), int64(2), object(3)
memory usage: 538.0+ bytes

In [ ]:
df_taxon