In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json, time, random, os, sys
from bs4 import BeautifulSoup
import requests
from SPARQLWrapper import SPARQLWrapper, JSON
from sklearn.decomposition import PCA

In [2]:
from SPARQLWrapper import CSV

# iNaturalist Observations
- Working on iNaturalist Observations
- We will put some filters to increase quality of the data
- Let's see how it goes
- Let's see how it works

In [3]:
df_iNat = pd.read_csv('/Users/devendragovil/Library/Application Support/inaturalist/observations.csv', parse_dates=True,sep='\t', usecols=[2,3,5,6,7])

In [4]:
df_iNat.head(10)

    latitude   longitude   taxon_id quality_grade observed_on
0  38.609740 -122.767302    53137.0      research  2011-05-30
1  41.007900  -95.897141    47157.0      needs_id  2011-06-02
2        NaN         NaN    54964.0        casual  2011-06-02
3  41.007900  -95.897141   358161.0      needs_id  2011-06-02
4 -25.719343   27.187214     2334.0      research  2007-06-27
5  63.573728 -148.946523   979757.0      research  2011-05-22
6  59.235833 -135.445000     5305.0      research  2011-04-26
7  63.588753 -154.493062   143688.0      research  2011-05-31
8  63.051847 -151.163775  1096645.0      research  2011-06-01
9  -2.428624  -59.764252    32455.0      research  2003-07-05

In [5]:
df_iNat.shape

(94765503, 5)

Note: Total observations are 94.765 million without any filters

In [6]:
df_iNat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94765503 entries, 0 to 94765502
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   latitude       float64
 1   longitude      float64
 2   taxon_id       float64
 3   quality_grade  object
 4   observed_on    object
dtypes: float64(3), object(2)
memory usage: 3.5+ GB

In [7]:
df_iNat_filtered = df_iNat[
    (df_iNat['latitude']>=36.4701132878)
    &
    (df_iNat['latitude']<=42.009518)
    &
    (df_iNat['longitude']>= -124.409591)
    &
    (df_iNat['longitude']<= -114.131211)
].copy()

In [8]:
df_iNat_filtered.shape

(4662891, 5)

Filtering by the bounding box for location reduces total obs to:
4.66 million

In [9]:
df_iNat_filtered['quality_grade'].value_counts()

research    2893582
needs_id    1588194
casual       181115
Name: quality_grade, dtype: int64

In [10]:
df_iNat_filtered = df_iNat_filtered[
    df_iNat_filtered['quality_grade'] == 'research'
].copy()

In [11]:
df_iNat_filtered.shape

(2893582, 5)

Filtering for research reduces to 2.893 million

In [12]:
df_iNat_filtered['observed_on_dt'] = pd.to_datetime(df_iNat_filtered['observed_on'])

In [13]:
df_iNat_filtered['observed_on_year'] = df_iNat_filtered['observed_on_dt'].dt.year
df_iNat_filtered['observed_on_mon'] = df_iNat_filtered['observed_on_dt'].dt.month

In [14]:
del(df_iNat)

Deleting df_iNat to save space above

In [15]:
df_iNat_filtered = df_iNat_filtered[
    df_iNat_filtered['observed_on_year'] == 2019
].copy()

In [16]:
df_iNat_filtered.shape

(352648, 8)

To Note: After year filter, futher reduces to 352 thousands

In [17]:
df_iNat_filtered['taxon_id'].nunique()

10804

In [18]:
df_species_to_pick = df_iNat_filtered.groupby('taxon_id').count().copy()

In [19]:
df_species_to_pick.reset_index(inplace=True)

In [20]:
df_species_to_pick['counts'] = df_species_to_pick['observed_on'].copy()

In [21]:
df_species_to_pick = df_species_to_pick[['taxon_id', 'counts']].copy()

In [22]:
df_species_to_pick.describe()

           taxon_id        counts
count  1.080400e+04  10804.000000
mean   2.294000e+05     32.640504
std    2.849076e+05    125.347509
min    1.620000e+02      1.000000
25%    6.073475e+04      1.000000
50%    8.078500e+04      4.000000
75%    3.207230e+05     16.000000
max    1.459288e+06   6020.000000

In [23]:
df_species_to_pick = df_species_to_pick[
    df_species_to_pick['counts']>=100
].copy()

In [24]:
df_species_to_pick

        taxon_id  counts
3          473.0     986
7          906.0    1329
16        1409.0     595
19        2548.0     249
20        2969.0     222
...          ...     ...
10638  1289388.0     477
10639  1289605.0     173
10640  1289607.0     325
10705  1392222.0     112
10773  1454382.0     944

[775 rows x 2 columns]

In [25]:
taxon_to_pick = set(df_species_to_pick['taxon_id'].values)

In [26]:
df_iNat_filtered = df_iNat_filtered[
    df_iNat_filtered['taxon_id'].apply(lambda x: True if x in taxon_to_pick else False)
].copy()

In [27]:
df_iNat_filtered.shape

(244202, 8)

In [28]:
df_iNat_filtered['observed_on_mon'].value_counts()

4     41106
5     27045
6     25766
3     23092
7     20870
8     17659
9     17181
10    16224
12    14610
1     14577
11    13777
2     12295
Name: observed_on_mon, dtype: int64

# Extracting the data for all taxons

In [65]:
# The template for the code below is taken from an example
#  in Wikidata examples from wikidata query service
endpoint_url = "https://query.wikidata.org/sparql"

query = """
SELECT DISTINCT ?item ?iNat_Tid ?ITIS_TSN ?GBF_ID ?avibaseid
WHERE {
    ?item wdt:P3151 ?iNat_Tid
  OPTIONAL { ?item wdt:P815 ?ITIS_TSN }
OPTIONAL { ?item  wdt:P846 ?GBF_ID}
OPTIONAL { ?item  wdt:P2026 ?avibaseid}
    SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en" }
}"""


def get_results(endpoint_url, query):
    user_agent = "WDQS-example Python/%s.%s" % (sys.version_info[0], sys.version_info[1])
    # TODO adjust user agent; see https://w.wiki/CX6
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(CSV)
    return sparql.query().convert()


results = get_results(endpoint_url, query)

/Users/devendragovil/opt/anaconda3/envs/exp_func/lib/python3.10/site-packages/SPARQLWrapper/Wrapper.py:1179: RuntimeWarning: Format requested was CSV, but XML (application/sparql-results+xml;charset=utf-8) has been returned by the endpoint
  warnings.warn(

In [66]:
results

In [68]:
for item in results:
    print(item)

TypeError: 'Document' object is not iterable

Note: Wasn't able to do in python so just downloaded the whole data from wikidata query service

In [29]:
df_taxon_ids = pd.read_csv('../data/query_taxonIDs_various.csv')

/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_2653/2828657456.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_taxon_ids = pd.read_csv('../data/query_taxonIDs_various.csv')

In [30]:
df_taxon_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830987 entries, 0 to 830986
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   item       830987 non-null  object
 1   iNat_Tid   830987 non-null  object
 2   ITIS_TSN   314392 non-null  float64
 3   GBF_ID     809035 non-null  float64
 4   avibaseid  8795 non-null    object
dtypes: float64(2), object(3)
memory usage: 31.7+ MB

## Mapping Avibase IDs

In [31]:
df_iNat_filtered['taxon_id'] = df_iNat_filtered['taxon_id'].astype(int)

In [32]:
df_taxon_ids['iNat_Tid'] = df_taxon_ids['iNat_Tid'].astype(str)

In [33]:
df_taxon_ids[df_taxon_ids['iNat_Tid'] == 'Frank']

,item,iNat_Tid,ITIS_TSN,GBF_ID,avibaseid
52338,http://www.wikidata.org/entity/Q25332,Frank,175590.0,2480726.0,5BCF1891777ED3D3

In [34]:
df_taxon_ids[~df_taxon_ids['iNat_Tid'].str.isnumeric()]

,item,iNat_Tid,ITIS_TSN,GBF_ID,avibaseid
52338,http://www.wikidata.org/entity/Q25332,Frank,175590.0,2480726.0,5BCF1891777ED3D3
682741,http://www.wikidata.org/entity/Q111590918,606184-Tenuisvalvae,NaN,4719312.0,NaN
682765,http://www.wikidata.org/entity/Q111590464,857568-Toxotoma-jujuyi,NaN,NaN,NaN
685043,http://www.wikidata.org/entity/Q111472759,1065202-Novius-cardinalis,NaN,10952526.0,NaN
691328,http://www.wikidata.org/entity/Q676908,123596-Chilocorus-bipustulatus,186961.0,1043495.0,NaN
755043,http://www.wikidata.org/entity/Q15512849,980358-Cleistanthus-hylandii,NaN,3081709.0,NaN
792460,http://www.wikidata.org/entity/Q111590426,1204243-Cycloneda-germainii,NaN,8085424.0,NaN
792461,http://www.wikidata.org/entity/Q111590436,860463-Epilachna-cacica,NaN,11524072.0,NaN
792520,http://www.wikidata.org/entity/Q111590432,1046037-Delphastus-argentinicus,NaN,NaN,NaN
792522,http://www.wikidata.org/entity/Q111590445,877302-Eriopis-serrai,NaN,NaN,NaN
792523,http://www.wikidata.org/entity/Q111590457,829243-Neoharmonia-zischkai,NaN,NaN,NaN
799242,http://www.wikidata.org/entity/Q2480861,503797-Azya-luteipes,NaN,6993536.0,NaN
801736,http://www.wikidata.org/entity/Q2389406,790657-Zagreus-bimaculosus,NaN,6993734.0,NaN
823146,http://www.wikidata.org/entity/Q111538766,782629-Cycloneda-ancoralis,NaN,8385242.0,NaN
823152,http://www.wikidata.org/entity/Q111795253,1355122-Aceria-fraxinicola,NaN,6912757.0,NaN
823220,http://www.wikidata.org/entity/Q111590450,794973-Hyperaspis-festiva,NaN,7851475.0,NaN
828204,http://www.wikidata.org/entity/Q15388962,1165100-Byrsonima-wadsworthii,183712.0,3191360.0,NaN
828640,http://www.wikidata.org/entity/Q104857239,1129142-Eutropis-lewisi,NaN,11176709.0,NaN
829048,http://www.wikidata.org/entity/Q111367009,405195-Porella-elegantula,NaN,7512572.0,NaN
829060,http://www.wikidata.org/entity/Q111590456,1287491-Neoharmonia-erythroptera,NaN,NaN,NaN
829061,http://www.wikidata.org/entity/Q111590458,797970-Psyllobora-bicongregata,NaN,NaN,NaN
829079,http://www.wikidata.org/entity/Q111590443,490743-Eriopis-magellanica,NaN,10701650.0,NaN
829082,http://www.wikidata.org/entity/Q311417,1240547-Leopardus-pajeros,726255.0,2434935.0,NaN
829119,http://www.wikidata.org/entity/Q114232400,1237214-Salix-fruticulosa,NaN,8368541.0,NaN
829143,http://www.wikidata.org/entity/Q3808832,709848-Cormocephalus-brachycerus,1090941.0,2231719.0,NaN
829148,http://www.wikidata.org/entity/Q107695242,851968-Gibellula-leiopus,NaN,2560454.0,NaN
829150,http://www.wikidata.org/entity/Q81164148,1377460-Amanita-coryli,NaN,7730010.0,NaN
829157,http://www.wikidata.org/entity/Q21406566,986902-Salix-kuznetzowii,NaN,7434860.0,NaN
829158,http://www.wikidata.org/entity/Q67195269,239800-Carex-macrocephala-bracteata,527126.0,6311436.0,NaN
829167,http://www.wikidata.org/entity/Q50329215,https://www.inaturalist.org/taxa/1407675-Isood...,NaN,9815637.0,NaN
829171,http://www.wikidata.org/entity/Q232169,134h3tyt4y44yt4th,1097609.0,8052504.0,NaN
829174,http://www.wikidata.org/entity/Q111590438,776912-Epilachna-paenulata,NaN,NaN,NaN
829194,http://www.wikidata.org/entity/Q15232214,1319454-Urtica-angustifolia,NaN,7403231.0,NaN
829208,http://www.wikidata.org/entity/Q21353859,481772-Adalia-angulifera,NaN,10705326.0,NaN
829213,http://www.wikidata.org/entity/Q14930784,320422-Scymnus-loewii,187052.0,4989989.0,NaN
829218,http://www.wikidata.org/entity/Q116142039,1238412-Sciodaphyllum,NaN,7314478.0,NaN
829226,http://www.wikidata.org/entity/Q21353864,481773-Adalia-deficiens,NaN,10880864.0,NaN
829232,http://www.wikidata.org/entity/Q111590429,1150837-Cycloneda-puncticollis,NaN,9368113.0,NaN
829237,http://www.wikidata.org/entity/Q114717992,354989-Wormskioldia,NaN,2662509.0,NaN
829748,http://www.wikidata.org/entity/Q15533678,929732-Arabidella-trisecta,NaN,3040450.0,NaN
829858,http://www.wikidata.org/entity/Q111590455,543688-Neocalvia-dentatofasciata,NaN,NaN,NaN
829859,http://www.wikidata.org/entity/Q111590441,857564-Epilachna-sellata,NaN,NaN,NaN
829860,http://www.wikidata.org/entity/Q111590460,781128-Psyllobora-picta,NaN,NaN,NaN
829861,http://www.wikidata.org/entity/Q111590463,961206-Tenuisvalvae-deyrrollei,NaN,NaN,NaN
830596,http://www.wikidata.org/entity/Q17396117,916786-Scybalium-fungiforme,NaN,4195245.0,NaN
830889,http://www.wikidata.org/entity/Q115515429,887226-Planois-smaug,1141534.0,9038588.0,NaN
830904,http://www.wikidata.org/entity/Q104846915,906802-Podosphaera-filipendulae,NaN,8252549.0,NaN
830905,http://www.wikidata.org/entity/Q69525843,1296937-Nitella-tumida,NaN,2637950.0,NaN
830908,http://www.wikidata.org/entity/Q101930880,1182457-Balocerini,NaN,NaN,NaN
830913,http://www.wikidata.org/entity/Q111590433,1075412-Diomus-tucumanus,NaN,NaN,NaN
830914,http://www.wikidata.org/entity/Q111590452,1066324-Mononeda-ostrina,NaN,NaN,NaN
830917,http://www.wikidata.org/entity/Q115041940,523119-Ectemnini,NaN,NaN,NaN

In [35]:
df_taxon_ids2 = df_taxon_ids[df_taxon_ids['iNat_Tid'].str.isnumeric()].copy()

In [36]:
df_taxon_ids2['iNat_Tid'] = df_taxon_ids2['iNat_Tid'].astype(int)

In [37]:
df_iNat_filtered2 = df_iNat_filtered.merge(df_taxon_ids2, how='left',indicator=True, left_on='taxon_id', right_on='iNat_Tid')

In [38]:
df_iNat_filtered2.shape

(248574, 14)

In [39]:
df_iNat_filtered.shape

(244202, 8)

In [40]:
df_iNat_filtered2['_merge'].value_counts()

both          243694
left_only       4880
right_only         0
Name: _merge, dtype: int64

In [41]:
df_taxon_ids2['iNat_Tid'].value_counts()

331121    6
217050    6
62666     4
448579    4
91740     4
         ..
268987    1
262159    1
262178    1
258429    1
796396    1
Name: iNat_Tid, Length: 829603, dtype: int64

In [42]:
df_taxon_ids2[df_taxon_ids2['iNat_Tid']==62666]

,item,iNat_Tid,ITIS_TSN,GBF_ID,avibaseid
144967,http://www.wikidata.org/entity/Q15198502,62666,529930.0,2977647.0,NaN
144981,http://www.wikidata.org/entity/Q15198502,62666,529930.0,9092074.0,NaN
145015,http://www.wikidata.org/entity/Q15198502,62666,519767.0,2977647.0,NaN
145033,http://www.wikidata.org/entity/Q15198502,62666,519767.0,9092074.0,NaN

In [43]:
df_iNat_filtered3 = df_iNat_filtered2[
    ~df_iNat_filtered2['avibaseid'].isna()
].copy()

In [44]:
df_iNat_filtered3.shape

(72044, 14)

In [45]:
df_iNat_filtered3

,latitude,longitude,taxon_id,quality_grade,observed_on,observed_on_dt,observed_on_year,observed_on_mon,item,iNat_Tid,ITIS_TSN,GBF_ID,avibaseid,_merge
2,37.294892,-122.091177,906,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q26844,906.0,176136.0,2473551.0,9C5ED06A51A9FFEE,both
5,39.451379,-123.802758,145255,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q512543,145255.0,950058.0,6092651.0,F6C6C3F7E27ED557,both
6,39.451523,-123.802841,18236,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q16819,18236.0,178154.0,2478259.0,756009696D15E8A0,both
7,39.451334,-123.803224,18209,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q368657,18209.0,178189.0,2478133.0,7E3273031F76242B,both
14,39.493045,-119.864503,5112,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q862896,5112.0,175309.0,2480621.0,EB98812F50A648A1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248567,38.720484,-120.859180,16791,research,2019-05-26,2019-05-26,2019,5,http://www.wikidata.org/entity/Q673149,16791.0,178287.0,5229675.0,2281F1C77260C0AB,both
248568,38.720699,-120.859433,11931,research,2019-05-28,2019-05-28,2019,5,http://www.wikidata.org/entity/Q1059968,11931.0,178427.0,5230754.0,75DC49ADA7DBE82B,both
248569,38.772300,-123.534008,14816,research,2019-07-20,2019-07-20,2019,7,http://www.wikidata.org/entity/Q244199,14816.0,178788.0,2484907.0,BD0914CB022BA720,both
248570,38.726541,-120.867963,199840,research,2019-10-27,2019-10-27,2019,10,http://www.wikidata.org/entity/Q25170208,199840.0,997805.0,8323485.0,89431E9F1CEDC995,both
248571,38.726541,-120.867963,18209,research,2019-10-28,2019-10-28,2019,10,http://www.wikidata.org/entity/Q368657,18209.0,178189.0,2478133.0,7E3273031F76242B,both

In [46]:
all_unique_avibase_id = set(df_iNat_filtered3['avibaseid'].values)

In [47]:
len(all_unique_avibase_id)

160

In [48]:
df_iNat_filtered3['aviID_short'] = df_iNat_filtered3['avibaseid'].apply(lambda x: x[0:8])

In [49]:
df_iNat_filtered3

,latitude,longitude,taxon_id,quality_grade,observed_on,observed_on_dt,observed_on_year,observed_on_mon,item,iNat_Tid,ITIS_TSN,GBF_ID,avibaseid,_merge,aviID_short
2,37.294892,-122.091177,906,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q26844,906.0,176136.0,2473551.0,9C5ED06A51A9FFEE,both,9C5ED06A
5,39.451379,-123.802758,145255,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q512543,145255.0,950058.0,6092651.0,F6C6C3F7E27ED557,both,F6C6C3F7
6,39.451523,-123.802841,18236,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q16819,18236.0,178154.0,2478259.0,756009696D15E8A0,both,75600969
7,39.451334,-123.803224,18209,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q368657,18209.0,178189.0,2478133.0,7E3273031F76242B,both,7E327303
14,39.493045,-119.864503,5112,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q862896,5112.0,175309.0,2480621.0,EB98812F50A648A1,both,EB98812F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248567,38.720484,-120.859180,16791,research,2019-05-26,2019-05-26,2019,5,http://www.wikidata.org/entity/Q673149,16791.0,178287.0,5229675.0,2281F1C77260C0AB,both,2281F1C7
248568,38.720699,-120.859433,11931,research,2019-05-28,2019-05-28,2019,5,http://www.wikidata.org/entity/Q1059968,11931.0,178427.0,5230754.0,75DC49ADA7DBE82B,both,75DC49AD
248569,38.772300,-123.534008,14816,research,2019-07-20,2019-07-20,2019,7,http://www.wikidata.org/entity/Q244199,14816.0,178788.0,2484907.0,BD0914CB022BA720,both,BD0914CB
248570,38.726541,-120.867963,199840,research,2019-10-27,2019-10-27,2019,10,http://www.wikidata.org/entity/Q25170208,199840.0,997805.0,8323485.0,89431E9F1CEDC995,both,89431E9F
248571,38.726541,-120.867963,18209,research,2019-10-28,2019-10-28,2019,10,http://www.wikidata.org/entity/Q368657,18209.0,178189.0,2478133.0,7E3273031F76242B,both,7E327303

In [50]:
df_avibase = pd.read_csv('../data/ELEData/TraitData/AVONET1_BirdLife.csv')

In [51]:
df_avibase

,Sequence,Species1,Family1,Order1,Avibase.ID1,Total.individuals,Female,Male,Unknown,Complete.measures,...,Habitat.Density,Migration,Trophic.Level,Trophic.Niche,Primary.Lifestyle,Min.Latitude,Max.Latitude,Centroid.Latitude,Centroid.Longitude,Range.Size
0,3103.0,Accipiter albogularis,Accipitridae,Accipitriformes,AVIBASE-BBB59880,5,2,0,3,4,...,1,2.0,Carnivore,Vertivore,Insessorial,-11.73,-4.02,-8.15,158.49,37461.21
1,3090.0,Accipiter badius,Accipitridae,Accipitriformes,AVIBASE-1A0ECB6E,10,4,6,0,8,...,2,3.0,Carnivore,Vertivore,Insessorial,-29.47,46.39,8.23,44.98,22374973.00
2,3125.0,Accipiter bicolor,Accipitridae,Accipitriformes,AVIBASE-ADBE44E1,11,4,5,2,8,...,2,2.0,Carnivore,Vertivore,Generalist,-55.72,23.73,-10.10,-59.96,14309701.27
3,3116.0,Accipiter brachyurus,Accipitridae,Accipitriformes,AVIBASE-68BF920B,4,4,0,0,3,...,1,2.0,Carnivore,Vertivore,Insessorial,-6.31,-4.08,-5.45,150.68,35580.71
4,3092.0,Accipiter brevipes,Accipitridae,Accipitriformes,AVIBASE-8492E4B7,8,4,4,0,4,...,1,3.0,Carnivore,Vertivore,Generalist,31.19,55.86,45.24,45.33,2936751.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11004,3261.0,Trogon personatus,Trogonidae,Trogoniformes,AVIBASE-DEF06688,23,12,10,1,5,...,1,1.0,Omnivore,Omnivore,Insessorial,-20.40,11.16,-2.92,-71.92,745904.62
11005,3256.0,Trogon rufus,Trogonidae,Trogoniformes,AVIBASE-EB24DFEE,22,10,12,0,8,...,1,1.0,Omnivore,Omnivore,Insessorial,-29.64,16.03,-5.73,-61.12,6666233.02
11006,3255.0,Trogon surrucura,Trogonidae,Trogoniformes,AVIBASE-8F2D3109,4,2,2,0,4,...,1,1.0,Carnivore,Invertivore,Insessorial,-31.18,-10.87,-23.08,-51.01,1366931.00
11007,3252.0,Trogon violaceus,Trogonidae,Trogoniformes,AVIBASE-2123574A,28,11,16,1,14,...,1,1.0,Herbivore,Frugivore,Insessorial,-15.61,22.29,-0.57,-66.12,7284998.29
11008,3247.0,Trogon viridis,Trogonidae,Trogoniformes,AVIBASE-BA2F0BFD,16,7,8,1,8,...,1,1.0,Omnivore,Frugivore,Insessorial,-26.94,10.84,-4.75,-60.54,7907953.76

In [52]:
df_avibase['aviID_short'] = df_avibase['Avibase.ID1'].apply(lambda x: x[8:].strip())

In [53]:
check_dups = df_iNat_filtered3[['avibaseid','aviID_short']].drop_duplicates()

In [54]:
check_dups['aviID_short'].value_counts()

9C5ED06A    1
F6C6C3F7    1
F59AB6B3    1
94A44032    1
BA4C8A02    1
           ..
249AE8DF    1
F9305BAA    1
D13B9122    1
5284C27B    1
6C439FF4    1
Name: aviID_short, Length: 160, dtype: int64

In [55]:
df_final = df_iNat_filtered3.merge(df_avibase, how='left', left_on='aviID_short', right_on='aviID_short', indicator='avi_merge_ind')

In [56]:
df_final

,latitude,longitude,taxon_id,quality_grade,observed_on,observed_on_dt,observed_on_year,observed_on_mon,item,iNat_Tid,...,Migration,Trophic.Level,Trophic.Niche,Primary.Lifestyle,Min.Latitude,Max.Latitude,Centroid.Latitude,Centroid.Longitude,Range.Size,avi_merge_ind
0,37.294892,-122.091177,906,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q26844,906.0,...,1.0,Herbivore,Omnivore,Terrestrial,16.91,50.63,37.44,-98.20,7259958.92,both
1,39.451379,-123.802758,145255,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q512543,145255.0,...,3.0,Carnivore,Invertivore,Insessorial,42.15,66.71,55.15,-128.60,1406060.25,both
2,39.451523,-123.802841,18236,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q16819,18236.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,39.451334,-123.803224,18209,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q368657,18209.0,...,1.0,Herbivore,Granivore,Insessorial,1.45,45.70,25.79,-104.16,1502706.45,both
4,39.493045,-119.864503,5112,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q862896,5112.0,...,3.0,Carnivore,Vertivore,Aerial,23.28,53.31,41.25,-100.49,8393137.06,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72039,38.720484,-120.859180,16791,research,2019-05-26,2019-05-26,2019,5,http://www.wikidata.org/entity/Q673149,16791.0,...,3.0,Carnivore,Invertivore,Insessorial,26.05,53.70,40.94,-108.96,5067458.79,both
72040,38.720699,-120.859433,11931,research,2019-05-28,2019-05-28,2019,5,http://www.wikidata.org/entity/Q1059968,11931.0,...,3.0,Carnivore,Invertivore,Aerial,18.30,66.72,46.28,-121.35,6104146.62,both
72041,38.772300,-123.534008,14816,research,2019-07-20,2019-07-20,2019,7,http://www.wikidata.org/entity/Q244199,14816.0,...,1.0,Omnivore,Invertivore,Insessorial,18.70,50.53,37.62,-111.62,1953869.52,both
72042,38.726541,-120.867963,199840,research,2019-10-27,2019-10-27,2019,10,http://www.wikidata.org/entity/Q25170208,199840.0,...,2.0,Herbivore,Granivore,Insessorial,16.79,55.29,38.88,-100.57,10299459.91,both
72043,38.726541,-120.867963,18209,research,2019-10-28,2019-10-28,2019,10,http://www.wikidata.org/entity/Q368657,18209.0,...,1.0,Herbivore,Granivore,Insessorial,1.45,45.70,25.79,-104.16,1502706.45,both

In [57]:
df_iNat_filtered3.shape

(72044, 15)

No change in size, finally at least once! Phew!

In [58]:
df_final['avi_merge_ind'].value_counts()

both          60435
left_only     11609
right_only        0
Name: avi_merge_ind, dtype: int64

In [59]:
df_final2 = df_final[df_final['avi_merge_ind']=='both'].copy()

In [60]:
df_final2

,latitude,longitude,taxon_id,quality_grade,observed_on,observed_on_dt,observed_on_year,observed_on_mon,item,iNat_Tid,...,Migration,Trophic.Level,Trophic.Niche,Primary.Lifestyle,Min.Latitude,Max.Latitude,Centroid.Latitude,Centroid.Longitude,Range.Size,avi_merge_ind
0,37.294892,-122.091177,906,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q26844,906.0,...,1.0,Herbivore,Omnivore,Terrestrial,16.91,50.63,37.44,-98.20,7259958.92,both
1,39.451379,-123.802758,145255,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q512543,145255.0,...,3.0,Carnivore,Invertivore,Insessorial,42.15,66.71,55.15,-128.60,1406060.25,both
3,39.451334,-123.803224,18209,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q368657,18209.0,...,1.0,Herbivore,Granivore,Insessorial,1.45,45.70,25.79,-104.16,1502706.45,both
4,39.493045,-119.864503,5112,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q862896,5112.0,...,3.0,Carnivore,Vertivore,Aerial,23.28,53.31,41.25,-100.49,8393137.06,both
5,38.269475,-121.440459,6933,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q25450,6933.0,...,3.0,Herbivore,Herbivore aquatic,Aquatic,38.65,75.28,59.60,26.95,28403500.77,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72039,38.720484,-120.859180,16791,research,2019-05-26,2019-05-26,2019,5,http://www.wikidata.org/entity/Q673149,16791.0,...,3.0,Carnivore,Invertivore,Insessorial,26.05,53.70,40.94,-108.96,5067458.79,both
72040,38.720699,-120.859433,11931,research,2019-05-28,2019-05-28,2019,5,http://www.wikidata.org/entity/Q1059968,11931.0,...,3.0,Carnivore,Invertivore,Aerial,18.30,66.72,46.28,-121.35,6104146.62,both
72041,38.772300,-123.534008,14816,research,2019-07-20,2019-07-20,2019,7,http://www.wikidata.org/entity/Q244199,14816.0,...,1.0,Omnivore,Invertivore,Insessorial,18.70,50.53,37.62,-111.62,1953869.52,both
72042,38.726541,-120.867963,199840,research,2019-10-27,2019-10-27,2019,10,http://www.wikidata.org/entity/Q25170208,199840.0,...,2.0,Herbivore,Granivore,Insessorial,16.79,55.29,38.88,-100.57,10299459.91,both
72043,38.726541,-120.867963,18209,research,2019-10-28,2019-10-28,2019,10,http://www.wikidata.org/entity/Q368657,18209.0,...,1.0,Herbivore,Granivore,Insessorial,1.45,45.70,25.79,-104.16,1502706.45,both

In [61]:
df_final2.columns

Index(['latitude', 'longitude', 'taxon_id', 'quality_grade', 'observed_on',
       'observed_on_dt', 'observed_on_year', 'observed_on_mon', 'item',
       'iNat_Tid', 'ITIS_TSN', 'GBF_ID', 'avibaseid', '_merge', 'aviID_short',
       'Sequence', 'Species1', 'Family1', 'Order1', 'Avibase.ID1',
       'Total.individuals', 'Female', 'Male', 'Unknown', 'Complete.measures',
       'Beak.Length_Culmen', 'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth',
       'Tarsus.Length', 'Wing.Length', 'Kipps.Distance', 'Secondary1',
       'Hand-Wing.Index', 'Tail.Length', 'Mass', 'Mass.Source',
       'Mass.Refs.Other', 'Inference', 'Traits.inferred', 'Reference.species',
       'Habitat', 'Habitat.Density', 'Migration', 'Trophic.Level',
       'Trophic.Niche', 'Primary.Lifestyle', 'Min.Latitude', 'Max.Latitude',
       'Centroid.Latitude', 'Centroid.Longitude', 'Range.Size',
       'avi_merge_ind'],
      dtype='object')

In [62]:
df_final2['aviID_short'].nunique()

139

In [63]:
df_final2[['aviID_short', 'observed_on_mon']].describe()

       observed_on_mon
count     60435.000000
mean          6.562786
std           3.522502
min           1.000000
25%           4.000000
50%           6.000000
75%          10.000000
max          12.000000

In [64]:
df_final2

,latitude,longitude,taxon_id,quality_grade,observed_on,observed_on_dt,observed_on_year,observed_on_mon,item,iNat_Tid,...,Migration,Trophic.Level,Trophic.Niche,Primary.Lifestyle,Min.Latitude,Max.Latitude,Centroid.Latitude,Centroid.Longitude,Range.Size,avi_merge_ind
0,37.294892,-122.091177,906,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q26844,906.0,...,1.0,Herbivore,Omnivore,Terrestrial,16.91,50.63,37.44,-98.20,7259958.92,both
1,39.451379,-123.802758,145255,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q512543,145255.0,...,3.0,Carnivore,Invertivore,Insessorial,42.15,66.71,55.15,-128.60,1406060.25,both
3,39.451334,-123.803224,18209,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q368657,18209.0,...,1.0,Herbivore,Granivore,Insessorial,1.45,45.70,25.79,-104.16,1502706.45,both
4,39.493045,-119.864503,5112,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q862896,5112.0,...,3.0,Carnivore,Vertivore,Aerial,23.28,53.31,41.25,-100.49,8393137.06,both
5,38.269475,-121.440459,6933,research,2019-01-01,2019-01-01,2019,1,http://www.wikidata.org/entity/Q25450,6933.0,...,3.0,Herbivore,Herbivore aquatic,Aquatic,38.65,75.28,59.60,26.95,28403500.77,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72039,38.720484,-120.859180,16791,research,2019-05-26,2019-05-26,2019,5,http://www.wikidata.org/entity/Q673149,16791.0,...,3.0,Carnivore,Invertivore,Insessorial,26.05,53.70,40.94,-108.96,5067458.79,both
72040,38.720699,-120.859433,11931,research,2019-05-28,2019-05-28,2019,5,http://www.wikidata.org/entity/Q1059968,11931.0,...,3.0,Carnivore,Invertivore,Aerial,18.30,66.72,46.28,-121.35,6104146.62,both
72041,38.772300,-123.534008,14816,research,2019-07-20,2019-07-20,2019,7,http://www.wikidata.org/entity/Q244199,14816.0,...,1.0,Omnivore,Invertivore,Insessorial,18.70,50.53,37.62,-111.62,1953869.52,both
72042,38.726541,-120.867963,199840,research,2019-10-27,2019-10-27,2019,10,http://www.wikidata.org/entity/Q25170208,199840.0,...,2.0,Herbivore,Granivore,Insessorial,16.79,55.29,38.88,-100.57,10299459.91,both
72043,38.726541,-120.867963,18209,research,2019-10-28,2019-10-28,2019,10,http://www.wikidata.org/entity/Q368657,18209.0,...,1.0,Herbivore,Granivore,Insessorial,1.45,45.70,25.79,-104.16,1502706.45,both

In [65]:
all_avibaseID_counts = {}
for row in df_final2[['aviID_short', 'observed_on_mon']].values:
    if row[0] in all_avibaseID_counts:
        month = row[1]
        all_avibaseID_counts[row[0]][month-1] += 1
    else:
        all_avibaseID_counts[row[0]] = np.zeros(12, dtype=int)
        month = row[1]
        all_avibaseID_counts[row[0]][month-1] += 1

## Changed this code compared to original version

In [67]:
all_avibaseID_counts

{'9C5ED06A': array([ 42,  66, 124, 226,  99,  86, 121, 143, 132, 113, 106,  71]),
 'F6C6C3F7': array([30, 32, 16,  6,  7,  0,  0,  4, 36, 50, 57, 65]),
 '7E327303': array([ 45,  59,  56, 125,  90,  67,  47,  57,  83,  75,  71,  58]),
 'EB98812F': array([37, 36, 42, 36, 24, 10, 40, 50, 42, 50, 54, 62]),
 '56CCA717': array([58, 26, 18,  4,  4,  0,  0,  7, 17, 37, 42, 91]),
 '536A5157': array([244, 246, 219, 166, 122, 101, 105, 117, 174, 242, 304, 271]),
 'D3A260BC': array([42,  9,  7,  2,  0,  0,  0,  0,  0, 11, 40, 62]),
 '0E599E6C': array([47, 27, 53, 38, 11, 32,  1,  3,  8, 16, 31, 44]),
 '466E9077': array([50, 17, 33,  6,  1,  1,  0,  0,  8, 45, 43, 67]),
 '624078BA': array([36, 34, 46, 28, 14, 28, 20, 17,  9, 17, 45, 33]),
 'EA4D6C0B': array([113,  95,  90,  75,  54,  49,  79,  51,  65,  89, 116, 148]),
 '52F63879': array([23,  9, 17, 11,  4, 18, 15,  5,  4, 14, 30, 23]),
 'C235A4D7': array([40, 27, 41, 36, 21, 47,  3,  7, 21, 31, 33, 55]),
 'FB738385': array([112, 103, 104,  43,   3,   3,   4,  10,   4,  13,  86, 124]),
 '9A8E55D0': array([73, 47, 67, 34, 23, 29, 36, 40, 54, 46, 62, 63]),
 '36B3872D': array([ 69,  71, 104, 146,  80,  95,  89,  95, 113,  88,  80,  95]),
 '19CCBBD2': array([22, 20, 24, 23, 26, 20, 10, 20, 25, 28, 19, 14]),
 '49D9148A': array([130, 111, 129,  85,  80, 106,  69, 164, 213, 180, 133, 133]),
 '8601A467': array([160, 127, 142, 102,  50,  68,  61,  58, 109, 219, 218, 172]),
 '68EA281A': array([90, 62, 74, 17,  5,  0,  1,  1,  3,  3, 49, 89]),
 'ED4CE8E7': array([102,  63,  58,  32,   6,   6,   3,   9,  30,  88, 101, 159]),
 '4A5B4883': array([48, 43, 45, 46, 16, 24,  9,  3,  4, 58, 42, 28]),
 'B182DED2': array([119,  74, 105, 145, 123, 100, 105, 112, 136, 138, 147, 118]),
 'F002188E': array([19, 16,  7,  0,  0,  0,  0,  0,  2, 13, 29, 27]),
 '538A9CA7': array([21, 21, 19, 25, 15,  7,  5, 10,  9, 17,  9, 11]),
 '27B2749A': array([ 5, 19, 19, 30, 27,  8, 18, 10,  9, 22, 11,  5]),
 'F012ED4B': array([10,  4, 21, 20,  2,  5,  9, 35, 17, 19, 16,  8]),
 'B9B272F4': array([62, 40, 76, 96, 68, 80, 70, 44, 70, 60, 78, 68]),
 'AC2B812A': array([ 58,  73, 110, 168, 129,  74,  68,  43,  42,  56,  60,  67]),
 '8F268682': array([30, 10,  8,  5,  0,  0,  1,  3,  1, 19, 56, 38]),
 '0783A7EA': array([35, 36, 28,  8,  1,  1,  0,  0,  1, 12, 22, 44]),
 '06B9BD24': array([54, 27, 19, 18, 14,  0,  5, 26, 13, 22, 13, 20]),
 'B745D852': array([ 59,  44,  74, 109,  91,  64,  59,  47,  51,  72,  70,  59]),
 '603194D3': array([27, 18, 36, 39, 28, 35, 25, 25, 34, 37, 43, 35]),
 'AA7901D8': array([ 95,  68, 133,  92,  60,  88,  65,  86, 102, 141,  83, 116]),
 '575A3E3B': array([ 60,  86, 112, 111,  95, 154,  94, 124, 123,  98,  90, 103]),
 'E7A14E91': array([64, 53, 54, 32,  3,  8, 52, 55, 65, 38, 63, 42]),
 '32DCEC14': array([46, 19, 32, 29,  3,  3,  4,  5,  6, 36, 23, 29]),
 '36171C2B': array([29, 18, 21,  5,  6,  7,  6,  4,  1, 12, 16,  7]),
 '5F8E7CA8': array([30, 25, 13, 13, 10,  6,  7,  7, 14, 16, 12,  4]),
 'A091D50A': array([ 77,  61,  72,  42,  18,  20,  17,  16,  38,  62, 104,  73]),
 'FED3756C': array([34, 28, 24, 32, 17, 22, 20, 11,  8, 26, 27, 25]),
 '7E022378': array([27, 15, 27, 26, 17, 24, 16, 20,  3,  9, 28, 17]),
 '115F04DD': array([61, 22, 48, 22,  0,  1,  0,  0, 17, 25, 51, 29]),
 '23863F65': array([49, 26, 36, 12,  3,  4, 12, 12, 18, 37, 71, 51]),
 '249AE8DF': array([49, 36, 30, 25, 10,  4, 20, 47, 42, 50, 75, 35]),
 'F9305BAA': array([17, 16, 32, 47, 36, 11, 19, 31, 26, 29, 21, 19]),
 'D13B9122': array([14, 10, 19, 25, 26, 21, 12, 14, 21, 13, 16, 10]),
 '5284C27B': array([38, 35, 28, 14,  3, 10, 26, 39, 47, 46, 97, 27]),
 '3AC46C54': array([75, 76, 98, 96, 65, 67, 65, 67, 56, 89, 92, 98]),
 '56036504': array([75, 76, 98, 96, 65, 67, 65, 67, 56, 89, 92, 98]),
 '27903EF7': array([15, 11, 18,  6,  0,  1,  5, 26, 37, 38, 33,  6]),
 '0D88C072': array([15, 14, 18, 13, 10,  9, 21, 16, 18, 18, 28, 19]),
 'B01E8BD4': array([22, 25, 23, 11,  3,  7,  4,  0,  6, 59, 81, 46]),
 'FFF61080': array([10,  8, 19, 28,  9, 13, 14, 11, 21, 15,  7, 12]),
 'EA5E858A': array([ 37,  33,  74, 120,  80,  71,  58,  55,  80,  70,  44,  50]),
 '85625D75': array([ 85,  97, 187, 312, 267, 118,  77, 162, 123, 149, 117, 127]),
 '1929E1E1': array([35, 19, 22,  5,  2,  2,  0,  0,  3,  2, 14, 35]),
 '28669A3D': array([62, 42, 32,  7,  5,  4,  8,  2, 18, 74, 78, 53]),
 '018B3169': array([23, 13, 21, 10,  2,  3,  1,  4,  3,  3, 16, 20]),
 'CAA5E106': array([78, 41, 55, 25, 19, 20, 19, 15, 35, 61, 63, 64]),
 '0B1B2EB6': array([17, 19, 19,  5,  3, 12, 16,  5, 20, 42, 69, 33]),
 '6BB94D7E': array([ 61,  22,  39,  88,  72, 105,  78,  66,  63,  78,  51,  55]),
 '3EF081A8': array([17, 13, 16,  8, 10,  9,  4,  7,  7,  3, 17, 18]),
 'A5F09E05': array([ 55,  51, 105, 129, 118, 155,  65,  44,  88,  73,  73,  59]),
 'BD61BDEC': array([ 77,  95, 136, 105,   2,   1,   0,   0,  43, 125, 148, 136]),
 'D201EB72': array([53, 43, 37,  8,  0,  2,  2,  0,  4, 39, 49, 36]),
 '42393721': array([127, 127, 192, 208, 158,  61,  76,  93, 120, 109,  98, 106]),
 'FF592882': array([29, 40, 55, 38, 58, 53, 31, 40, 56, 42, 30, 35]),
 'BBA263C2': array([14,  7, 16, 53, 13, 16, 18,  5, 17, 17, 14, 19]),
 '20C2214E': array([107,  75,  70,  35,  20,  17,  16,  30,  39,  53,  66,  78]),
 'BCF9A19A': array([42, 19, 56, 86, 74, 52, 29, 39, 56, 85, 73, 36]),
 '8EB0C1FA': array([ 46,  35, 102,  53,  35,  43,  44,  15,  22,  44,  51,  29]),
 'A47B0BD4': array([ 28,  14,  37,  21,   0,   0,  27,  43,  88,  89, 100,  37]),
 '89431E9F': array([ 65,  48,  71, 162, 117,  82,  96,  94,  82,  61,  86,  75]),
 'E196D6F9': array([46, 12, 11,  2,  3,  3,  7,  2, 11, 37, 22, 42]),
 '00124D98': array([ 38,  15,  51, 103,  89,  67,  42,  62,  44,  35,  31,  29]),
 '9E9F2476': array([ 57,  38,  86, 108,  98,  45,  39,  32,  58,  77,  62,  67]),
 '0B0BC750': array([26, 37, 49, 80, 75, 72, 33, 20, 22, 41, 41, 30]),
 '25C94A8F': array([29, 16, 51, 12,  3,  4,  2,  2,  0,  1, 10, 14]),
 'C6E1197B': array([34, 47, 65, 54, 20, 31,  6, 30, 12, 12, 37, 28]),
 '407E2CA8': array([47, 22, 48, 35, 27, 30, 20, 21, 19, 24, 19, 33]),
 '240E3390': array([25, 16, 27, 77, 35, 62, 39, 25, 28, 28, 25, 11]),
 '7EFF698D': array([37, 20, 59, 79, 46, 38, 40, 23, 20, 33, 43, 37]),
 '7FCE8A43': array([33, 31, 47, 30, 46, 41, 45, 38, 35, 40, 39, 52]),
 'B59E1863': array([ 74,  83, 152, 281, 123,  64,  72,  63,  73,  88,  56,  85]),
 'C9ABA616': array([ 9, 14, 10, 31, 23, 30, 23, 31, 43, 14, 22, 13]),
 'F59AB6B3': array([ 14,   2,   2,   4,  48,  96, 103,  95, 105,  96,  72,  37]),
 '94A44032': array([22, 26, 43, 89, 49, 27, 15, 24, 39, 27, 32, 26]),
 'BA4C8A02': array([ 6,  5, 14, 16, 16, 15,  5, 15, 29, 15, 14, 11]),
 '3558066B': array([29, 21, 26,  6,  6, 11, 11, 23, 34, 29, 31, 22]),
 'AF49F890': array([ 9, 10,  5,  8,  0,  6,  3,  1, 19, 17, 30, 16]),
 'FC366114': array([27, 20, 30, 32, 23, 27, 24, 41, 35, 18, 14, 13]),
 '2225D685': array([ 14,  25,  41,  57,  70, 100,  74,  71,  65,  61,  36,  27]),
 '6EB81C98': array([ 35,  20,  56,  19,   1,   8,  31,  28,  53, 113,  81,  52]),
 '20748450': array([12,  9, 11, 22, 16, 20,  7,  7,  7,  2,  9,  9]),
 '03AC32BA': array([13, 14, 17, 14,  3,  3,  5,  1,  2,  7, 13, 20]),
 '9437D635': array([36, 27, 26, 45, 31,  9,  3,  9,  8, 37, 47, 25]),
 'B9EE9676': array([35, 10, 10, 21, 12, 17,  3, 17,  7, 13, 11,  8]),
 'D05FFEF7': array([11, 17, 34, 25, 12, 13,  1, 17,  7,  6, 11, 16]),
 '15369E8E': array([14, 13,  5, 14,  2,  0,  1,  1,  7, 12, 41, 22]),
 '01060BFD': array([15,  8,  4, 23,  2,  2, 60, 20, 36, 13, 29,  6]),
 '95E28A57': array([ 2,  5,  2, 22,  2,  1, 16, 18, 16, 14,  4,  4]),
 'DE0971C1': array([ 3,  2,  2,  4,  7, 14, 22, 18, 18,  7,  5,  8]),
 '866903B9': array([33, 13, 43, 26, 21, 65, 62, 66, 53, 56, 31, 25]),
 '60E6081E': array([22, 23, 19,  7,  4,  2,  1,  3,  3,  9, 26, 29]),
 'F93AC929': array([ 31,  17,  26,  77, 102,  64,  60,  47,  60,  59,  34,  18]),
 '0413ED30': array([12, 18, 14, 15,  1,  0,  3, 31, 29, 23, 16, 19]),
 '6996D540': array([10, 10,  5,  4,  3, 25, 93, 77, 68, 54, 36, 29]),
 '39F29B55': array([ 5,  3, 17, 17, 24, 55, 39, 30, 10, 11,  8,  7]),
 '78509A5D': array([14,  6, 13, 33, 18,  7, 15,  6, 12, 10,  6,  2]),
 '5CBA3391': array([10, 16, 13, 48, 23, 31, 18, 15,  9, 13, 12,  9]),
 'FD2B0309': array([20,  6, 11,  5, 10, 34, 29, 42, 32, 25, 19, 14]),
 '1E1AB415': array([ 6,  9, 16, 49, 49, 50, 35, 19, 10,  8, 11,  7]),
 'CB343E43': array([23,  2,  8, 20,  5,  0, 12,  5, 13, 23, 20, 13]),
 'BAC33609': array([ 6, 11,  7,  8, 15, 16,  9, 22, 27, 15, 21, 12]),
 '787E0536': array([15, 17, 35, 17, 12, 24,  8,  7, 15, 12, 15, 15]),
 '989B57D8': array([ 1,  4,  6, 12, 11, 21,  8, 10, 11, 18,  9,  3]),
 'BC06BC0D': array([ 1,  0,  2, 35, 26, 58, 52, 35, 18,  0,  0,  1]),
 'B4EE123D': array([ 7, 19, 27,  7, 13, 13,  7,  3,  3,  9,  8,  6]),
 'BBA2F9DF': array([  4,  17,  42, 100,  53,  57,  15,   4,  13,   7,   1,   0]),
 '6C74415D': array([ 1,  1,  3,  5, 12, 22, 18,  9, 19,  8,  9,  0]),
 'BD0914CB': array([ 2,  5, 10, 14, 13, 20, 18, 24, 22, 17, 15, 15]),
 '75DC49AD': array([ 1,  5, 27, 35, 55, 39, 30,  5,  5,  1,  0,  0]),
 '0716A71C': array([ 0,  2,  0,  3,  2, 11, 10, 25, 52, 32, 32, 18]),
 'F5C181CA': array([ 1,  1, 20, 71, 49, 95, 39,  9,  2,  0,  0,  2]),
 '58C502EA': array([ 0,  2, 22, 70, 57, 65, 55, 60, 17,  0,  0,  0]),
 'DE473F42': array([ 0,  0, 18, 81, 26, 23, 24,  7,  3,  7,  1,  0]),
 '7E65A952': array([ 0,  0, 10, 49, 29, 40, 22,  5,  1,  0,  0,  0]),
 '1F09CCCC': array([ 0,  0, 10, 35, 23, 40, 19, 19, 23,  0,  3,  0]),
 '2281F1C7': array([ 0,  0, 14, 99, 71, 45, 34, 22,  2,  0,  0,  0]),
 '526A3692': array([ 0,  0,  3, 32, 24, 24, 21, 20,  7,  0,  0,  1]),
 '824361E5': array([ 0,  0,  1, 41, 50, 43, 29, 11,  4,  1,  0,  1]),
 '2F5DF476': array([ 0,  0,  1, 19, 27, 32, 36, 37,  3,  2,  0,  0]),
 'E0A04985': array([ 0,  0,  0, 59, 71, 39, 26,  8,  1,  0,  1,  0]),
 '3F9E1C51': array([ 0,  0,  0,  6,  1,  1,  7, 51, 23,  6,  5,  0]),
 'E6F3BA54': array([ 0,  0,  0,  6, 15,  6,  2, 76, 78,  6,  0,  0]),
 'F6CA75F0': array([ 0,  0,  0,  1, 39, 23, 21, 21, 17,  8,  0,  0]),
 '0ADA5F17': array([ 0,  0,  0,  6, 40, 36, 31, 24, 21,  7,  1,  2])}

## Naming below is as per original code, don't get confused by naming

In [68]:
df_bird_rel_freq = pd.DataFrame(all_avibaseID_counts).T

In [69]:
df_bird_rel_freq.reset_index(inplace=True)

In [70]:
df_bird_rel_freq.columns = [
    ('aviID_short' if x == 'index' else f"month-{x}")
     for x in df_bird_rel_freq.columns
]

In [71]:
df_bird_rel_freq

,aviID_short,month-0,month-1,month-2,month-3,month-4,month-5,month-6,month-7,month-8,month-9,month-10,month-11
0,9C5ED06A,42,66,124,226,99,86,121,143,132,113,106,71
1,F6C6C3F7,30,32,16,6,7,0,0,4,36,50,57,65
2,7E327303,45,59,56,125,90,67,47,57,83,75,71,58
3,EB98812F,37,36,42,36,24,10,40,50,42,50,54,62
4,56CCA717,58,26,18,4,4,0,0,7,17,37,42,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,E0A04985,0,0,0,59,71,39,26,8,1,0,1,0
135,3F9E1C51,0,0,0,6,1,1,7,51,23,6,5,0
136,E6F3BA54,0,0,0,6,15,6,2,76,78,6,0,0
137,F6CA75F0,0,0,0,1,39,23,21,21,17,8,0,0
138,0ADA5F17,0,0,0,6,40,36,31,24,21,7,1,2

In [72]:
df_avibase

,Sequence,Species1,Family1,Order1,Avibase.ID1,Total.individuals,Female,Male,Unknown,Complete.measures,...,Migration,Trophic.Level,Trophic.Niche,Primary.Lifestyle,Min.Latitude,Max.Latitude,Centroid.Latitude,Centroid.Longitude,Range.Size,aviID_short
0,3103.0,Accipiter albogularis,Accipitridae,Accipitriformes,AVIBASE-BBB59880,5,2,0,3,4,...,2.0,Carnivore,Vertivore,Insessorial,-11.73,-4.02,-8.15,158.49,37461.21,BBB59880
1,3090.0,Accipiter badius,Accipitridae,Accipitriformes,AVIBASE-1A0ECB6E,10,4,6,0,8,...,3.0,Carnivore,Vertivore,Insessorial,-29.47,46.39,8.23,44.98,22374973.00,1A0ECB6E
2,3125.0,Accipiter bicolor,Accipitridae,Accipitriformes,AVIBASE-ADBE44E1,11,4,5,2,8,...,2.0,Carnivore,Vertivore,Generalist,-55.72,23.73,-10.10,-59.96,14309701.27,ADBE44E1
3,3116.0,Accipiter brachyurus,Accipitridae,Accipitriformes,AVIBASE-68BF920B,4,4,0,0,3,...,2.0,Carnivore,Vertivore,Insessorial,-6.31,-4.08,-5.45,150.68,35580.71,68BF920B
4,3092.0,Accipiter brevipes,Accipitridae,Accipitriformes,AVIBASE-8492E4B7,8,4,4,0,4,...,3.0,Carnivore,Vertivore,Generalist,31.19,55.86,45.24,45.33,2936751.80,8492E4B7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11004,3261.0,Trogon personatus,Trogonidae,Trogoniformes,AVIBASE-DEF06688,23,12,10,1,5,...,1.0,Omnivore,Omnivore,Insessorial,-20.40,11.16,-2.92,-71.92,745904.62,DEF06688
11005,3256.0,Trogon rufus,Trogonidae,Trogoniformes,AVIBASE-EB24DFEE,22,10,12,0,8,...,1.0,Omnivore,Omnivore,Insessorial,-29.64,16.03,-5.73,-61.12,6666233.02,EB24DFEE
11006,3255.0,Trogon surrucura,Trogonidae,Trogoniformes,AVIBASE-8F2D3109,4,2,2,0,4,...,1.0,Carnivore,Invertivore,Insessorial,-31.18,-10.87,-23.08,-51.01,1366931.00,8F2D3109
11007,3252.0,Trogon violaceus,Trogonidae,Trogoniformes,AVIBASE-2123574A,28,11,16,1,14,...,1.0,Herbivore,Frugivore,Insessorial,-15.61,22.29,-0.57,-66.12,7284998.29,2123574A
11008,3247.0,Trogon viridis,Trogonidae,Trogoniformes,AVIBASE-BA2F0BFD,16,7,8,1,8,...,1.0,Omnivore,Frugivore,Insessorial,-26.94,10.84,-4.75,-60.54,7907953.76,BA2F0BFD

In [73]:
df_bird_rel_freq.to_csv('iNat_bird_counts_MoM.csv')