In [1]:
import pandas as pd

In [2]:
df_inat =  pd.read_csv('../data/gbif/occurrence.txt', delimiter='\t', quotechar='"', usecols=[
    'taxonID',
    'taxonKey',
    'countryCode',
    'stateProvince',
    'decimalLatitude',
    'decimalLongitude',
    'eventDate',
    'acceptedScientificName',
    'scientificName',
])

/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/1441865066.py:1: DtypeWarning: Columns (138,180) have mixed types. Specify dtype option on import or set low_memory=False.
  df_inat =  pd.read_csv('../data/gbif/occurrence.txt', delimiter='\t', quotechar='"', usecols=[

In [3]:
df_inat.shape

(3321454, 9)

In [4]:
df_inat_22 = pd.read_csv('../data/gbif_22/occurrence.txt', delimiter='\t', quoting=3, usecols=[
    'taxonID',
    'taxonKey',
    'countryCode',
    'stateProvince',
    'decimalLatitude',
    'decimalLongitude',
    'eventDate',
    'acceptedScientificName',
    'scientificName',
])

In [5]:
df_inat_22.shape

(6686625, 9)

In [6]:
rel_columns_iNat = [
    'taxonID',
    'taxonKey',
    'countryCode',
    'stateProvince',
    'decimalLatitude',
    'decimalLongitude',
    'eventDate',
    'acceptedScientificName',
    'scientificName',
]
rel_columns_eBird = [
    'TAXON CONCEPT ID',
    'OBSERVATION COUNT',
    'COUNTRY',
    'STATE',
    'LATITUDE',
    'LONGITUDE',
    'OBSERVATION DATE',
    'SCIENTIFIC NAME',
    'COMMON NAME',
]

In [7]:
print(f"Total number of records: \n{df_inat.shape[0]:,} for 2019\n{df_inat_22.shape[0]:,} for 2022")

Total number of records:
3,321,454 for 2019
6,686,625 for 2022

In [8]:
df_eBird = pd.read_csv('../data/eBird/ebd_US-CA_201901_201912_relApr-2023/ebd_US-CA_201901_201912_relApr-2023.txt', sep='\t', usecols=rel_columns_eBird)

In [9]:
df_eBird_22 = pd.read_csv('../data/eBird_ebd_US-CA_202201_202212_relSep-2023/ebd_US-CA_202201_202212_relSep-2023.txt', sep='\t', usecols=rel_columns_eBird)

In [10]:
print(f"Total number of records for eBird: \n{df_eBird.shape[0]:,} for 2019\n{df_eBird_22.shape[0]:,} for 2022")

Total number of records for eBird:
8,694,926 for 2019
12,673,675 for 2022

In [11]:
df_iNat2 = df_inat[rel_columns_iNat].copy()
df_eBird2 = df_eBird[rel_columns_eBird].copy()
df_iNat2_22 = df_inat_22[rel_columns_iNat].copy()
df_eBird2_22 = df_eBird_22[rel_columns_eBird].copy()

In [12]:
df_iNat2.head()

,taxonID,taxonKey,countryCode,stateProvince,decimalLatitude,decimalLongitude,eventDate,acceptedScientificName,scientificName
0,123045,2515238.0,US,California,34.140209,-119.187897,2019-01-30T09:59:56,Puccinia evadens Harkn.,Puccinia evadens Harkn.
1,84994,5156078.0,US,Florida,28.059126,-82.418194,2019-01-21T14:35:00,"Acanthocephala declivis (Say, 1832)","Acanthocephala declivis (Say, 1832)"
2,36204,2451234.0,US,California,35.271399,-120.888941,2019-03-17T13:56:00,"Sceloporus occidentalis Baird & Girard, 1852","Sceloporus occidentalis Baird & Girard, 1852"
3,53326,3169708.0,US,Georgia,33.769633,-84.30645,2019-03-29T14:33:23,Vinca major L.,Vinca major L.
4,9176,5231132.0,US,Texas,33.562034,-101.809798,2019-04-02T12:44:00,"Zonotrichia leucophrys (J.R.Forster, 1772)","Zonotrichia leucophrys (J.R.Forster, 1772)"

In [13]:
df_iNat2['countryCode'].value_counts()

US    3321452
Name: countryCode, dtype: int64

In [14]:
df_iNat2_22['countryCode'].value_counts()

US    6686625
Name: countryCode, dtype: int64

# eBird Analysis

In [15]:
df_eBird2['COUNTRY'].value_counts()

United States    8694926
Name: COUNTRY, dtype: int64

In [16]:
df_eBird2_22['COUNTRY'].value_counts()

United States    12673675
Name: COUNTRY, dtype: int64

In [17]:
df_eBird2['STATE'].value_counts()

California    8694926
Name: STATE, dtype: int64

In [18]:
df_eBird2_22['STATE'].value_counts()

California    12673675
Name: STATE, dtype: int64

In [19]:
df_eBird2.head()

,TAXON CONCEPT ID,OBSERVATION COUNT,COUNTRY,STATE,LATITUDE,LONGITUDE,OBSERVATION DATE,SCIENTIFIC NAME,COMMON NAME
0,avibase-CA08045E,1,United States,California,37.892331,-122.311800,2019-01-13,Accipiter sp.,Accipiter sp.
1,avibase-CA08045E,X,United States,California,37.871270,-122.307890,2019-01-01,Accipiter sp.,Accipiter sp.
2,avibase-CA08045E,1,United States,California,37.834029,-122.238747,2019-01-25,Accipiter sp.,Accipiter sp.
3,avibase-CA08045E,1,United States,California,37.695328,-121.844741,2019-01-10,Accipiter sp.,Accipiter sp.
4,avibase-CA08045E,1,United States,California,37.834029,-122.238747,2019-01-25,Accipiter sp.,Accipiter sp.

In [20]:
df_eBird2['AVIBASEID'] = df_eBird2['TAXON CONCEPT ID'].apply(lambda x : x[-8:])
df_eBird2_22['AVIBASEID'] = df_eBird2_22['TAXON CONCEPT ID'].apply(lambda x : x[-8:])

# EDA on the whole dataset without any filters

print(f"""
    Some important statistics:
    +-------+------+------------+
    | eBird | 2019 | {df_eBird2.shape[0]:,} |
    | eBird | 2022 | {df_eBird2_22.shape[0]:,} |
    | iNat  | 2019 | {df_iNat2.shape[0]:,} |
    | iNat  | 2022 | {df_iNat2_22.shape[0]:,} |
""")

print(f"""
    Some important statistics:
    +-------+------+-----------------+---------------+
    | data  | year | category        | value         |
    | eBird | 2019 | nunique species | {df_eBird2['TAXON CONCEPT ID'].nunique():,} |
    | eBird | 2022 | nunique species | {df_eBird2_22['TAXON CONCEPT ID'].nunique():,} |
    | iNat  | 2019 | nunique species | {df_iNat2['taxonID'].nunique():,} |
    | iNat  | 2022 | nunique species | {df_iNat2_22['taxonID'].nunique():,} |
""")

In [21]:
df_eBird_median_by_species = df_eBird2[df_eBird2['OBSERVATION COUNT']!='X'].groupby('AVIBASEID')['OBSERVATION COUNT'].median().to_dict()
df_eBird_median_by_species_22 = df_eBird2_22[df_eBird2_22['OBSERVATION COUNT']!='X'].groupby('AVIBASEID')['OBSERVATION COUNT'].median().to_dict()

In [22]:
df_eBird2['OBSCOUNT'] = df_eBird2[['AVIBASEID','OBSERVATION COUNT']].apply(
    lambda row: (df_eBird_median_by_species[row['AVIBASEID']] if row['AVIBASEID'] in df_eBird_median_by_species else 1) if row['OBSERVATION COUNT'] == 'X' else row['OBSERVATION COUNT'],
    axis=1
)
df_eBird2_22['OBSCOUNT'] = df_eBird2_22[['AVIBASEID','OBSERVATION COUNT']].apply(
    lambda row: (df_eBird_median_by_species[row['AVIBASEID']] if row['AVIBASEID'] in df_eBird_median_by_species else 1) if row['OBSERVATION COUNT'] == 'X' else row['OBSERVATION COUNT'],
    axis=1
)

In [23]:
df_eBird2['OBSCOUNT'] = df_eBird2['OBSCOUNT'].astype(float)
df_eBird2_22['OBSCOUNT'] = df_eBird2_22['OBSCOUNT'].astype(float)

print(f"""
    Some important statistics:
    +-------+------+----------+---------------+----------------+
    | data  | year | category |  value  \t| increase (%) \t|
    | eBird | 2019 | num rows | {df_eBird2.shape[0]:,} \t|     NaN \t|
    | eBird | 2022 | num rows | {df_eBird2_22.shape[0]:,} \t| {100*(df_eBird2_22.shape[0]-df_eBird2.shape[0])/df_eBird2.shape[0]:.4f}\t |
    | eBird | 2019 | agg rows | {df_eBird2['OBSCOUNT'].sum():,} \t|     NaN \t|
    | eBird | 2022 | agg rows | {df_eBird2_22['OBSCOUNT'].sum():,} \t| {100*(df_eBird2_22['OBSCOUNT'].sum() - df_eBird2['OBSCOUNT'].sum())/df_eBird2['OBSCOUNT'].sum():.4f}\t |
    | iNat  | 2019 | num rows | {df_iNat2.shape[0]:,} \t|     NaN \t|
    | iNat  | 2022 | num rows | {df_iNat2_22.shape[0]:,} \t| {100*(df_iNat2_22.shape[0]-df_iNat2.shape[0])/df_iNat2.shape[0]:.4f}\t |
""")

# Beginning the filtering

In [24]:
df_eBird3 = df_eBird2[
    (df_eBird2['LATITUDE']>=36.4701132878)
    &
    (df_eBird2['LATITUDE']<=42.009518)
    &
    (df_eBird2['LONGITUDE']>= -124.409591)
    &
    (df_eBird2['LONGITUDE']<= -114.131211)
].copy()
df_eBird3_22 = df_eBird2_22[
    (df_eBird2_22['LATITUDE']>=36.4701132878)
    &
    (df_eBird2_22['LATITUDE']<=42.009518)
    &
    (df_eBird2_22['LONGITUDE']>= -124.409591)
    &
    (df_eBird2_22['LONGITUDE']<= -114.131211)
].copy()

In [25]:
df_eBird3['observation_datetime'] = pd.to_datetime(df_eBird3['OBSERVATION DATE'])
df_eBird3_22['observation_datetime'] = pd.to_datetime(df_eBird3_22['OBSERVATION DATE'])

In [26]:
df_eBird3['WEEK'] = df_eBird3['observation_datetime'].dt.week
df_eBird3_22['WEEK'] = df_eBird3_22['observation_datetime'].dt.week

/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/1873497601.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_eBird3['WEEK'] = df_eBird3['observation_datetime'].dt.week
/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/1873497601.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_eBird3_22['WEEK'] = df_eBird3_22['observation_datetime'].dt.week

In [27]:
df_eBird3['YEAR'] = df_eBird3['observation_datetime'].dt.year
df_eBird3_22['YEAR'] = df_eBird3_22['observation_datetime'].dt.year

In [28]:
df_iNat2['countryCode'].value_counts(),\
df_iNat2_22['countryCode'].value_counts()

(US    3321452
 Name: countryCode, dtype: int64,
 US    6686625
 Name: countryCode, dtype: int64)

In [29]:
df_iNat2['observation_dt'] = pd.to_datetime(df_iNat2['eventDate'])
df_iNat2_22['observation_dt'] = pd.to_datetime(df_iNat2_22['eventDate'])

In [30]:
df_iNat3 = df_iNat2[df_iNat2['stateProvince'] == 'California'].copy()
df_iNat3_22 = df_iNat2_22[df_iNat2_22['stateProvince'] == 'California'].copy()

In [31]:
df_iNat3['decimalLatitude'] = df_iNat3['decimalLatitude'].astype(float)
df_iNat3['decimalLongitude'] = df_iNat3['decimalLongitude'].astype(float)
df_iNat3_22['decimalLatitude'] = df_iNat3_22['decimalLatitude'].astype(float)
df_iNat3_22['decimalLongitude'] = df_iNat3_22['decimalLongitude'].astype(float)

In [32]:
df_iNat4 = df_iNat3[
    (df_iNat3['decimalLatitude']>=36.4701132878)
    &
    (df_iNat3['decimalLatitude']<=42.009518)
    &
    (df_iNat3['decimalLongitude']>= -124.409591)
    &
    (df_iNat3['decimalLongitude']<= -114.131211)
].copy()
df_iNat4_22 = df_iNat3_22[
    (df_iNat3_22['decimalLatitude']>=36.4701132878)
    &
    (df_iNat3_22['decimalLatitude']<=42.009518)
    &
    (df_iNat3_22['decimalLongitude']>= -124.409591)
    &
    (df_iNat3_22['decimalLongitude']<= -114.131211)
].copy()

In [33]:
df_iNat4['YEAR'] = df_iNat4['observation_dt'].dt.year
df_iNat4['WEEK'] = df_iNat4['observation_dt'].dt.week
df_iNat4_22['YEAR'] = df_iNat4_22['observation_dt'].dt.year
df_iNat4_22['WEEK'] = df_iNat4_22['observation_dt'].dt.week

/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/2923923569.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_iNat4['WEEK'] = df_iNat4['observation_dt'].dt.week
/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/2923923569.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_iNat4_22['WEEK'] = df_iNat4_22['observation_dt'].dt.week

print(f"""
    Some important statistics after filtering\n
    for geographic area:
    +-------+------+---------------------+----------------------+----------------+
    | data  | year |      category       |  value  \t\t| increase (%) \t|
    +-------+------+---------------------+----------------------+----------------+
    | eBird | 2019 |   num rows (all)    |   {df_eBird2.shape[0]:,} \t\t|     NaN \t|
    | eBird | 2022 |   num rows (all)    |   {df_eBird2_22.shape[0]:,} \t| {100*(df_eBird2_22.shape[0]-df_eBird2.shape[0])/df_eBird2.shape[0]:.4f}\t|
    | eBird | 2019 |   agg rows (all)    |   {df_eBird2['OBSCOUNT'].sum():,} \t|     NaN \t|
    | eBird | 2022 |   agg rows (all)    |   {df_eBird2_22['OBSCOUNT'].sum():,} \t| {100*(df_eBird2_22['OBSCOUNT'].sum() - df_eBird2['OBSCOUNT'].sum())/df_eBird2['OBSCOUNT'].sum():.4f}\t|
    | iNat  | 2019 |   num rows (all)    |   {df_iNat2.shape[0]:,} \t\t|     NaN \t|
    | iNat  | 2022 |   num rows (all)    |   {df_iNat2_22.shape[0]:,} \t\t| {100*(df_iNat2_22.shape[0]-df_iNat2.shape[0])/df_iNat2.shape[0]:.4f}\t|
    | eBird | 2019 |   num rows (filt)   |   {df_eBird3.shape[0]:,} \t\t|     NaN \t|
    | eBird | 2022 |   num rows (filt)   |   {df_eBird3_22.shape[0]:,} \t\t| {100*(df_eBird3_22.shape[0]-df_eBird3.shape[0])/df_eBird3.shape[0]:.4f}\t|
    | eBird | 2019 |   agg rows (filt)   |   {df_eBird3['OBSCOUNT'].sum():,} \t|     NaN \t|
    | eBird | 2022 |   agg rows (filt)   |   {df_eBird3_22['OBSCOUNT'].sum():,} \t| {100*(df_eBird3_22['OBSCOUNT'].sum() - df_eBird3['OBSCOUNT'].sum())/df_eBird3['OBSCOUNT'].sum():.4f}\t|
    | iNat  | 2019 |   num rows (filt)   |   {df_iNat4.shape[0]:,} \t \t|     NaN \t|
    | iNat  | 2022 |   num rows (filt)   |   {df_iNat4_22.shape[0]:,} \t\t| {100*(df_iNat4_22.shape[0]-df_iNat4.shape[0])/df_iNat4.shape[0]:.4f}\t|
    | eBird | 2019 | nunq species (all)  |   {df_eBird2['TAXON CONCEPT ID'].nunique():,} \t\t|
    | eBird | 2022 | nunq species (all)  |   {df_eBird2_22['TAXON CONCEPT ID'].nunique():,} \t\t|
    | iNat  | 2019 | nunq species (all)  |   {df_iNat2['taxonID'].nunique():,} \t\t|
    | iNat  | 2022 | nunq species (all)  |   {df_iNat2_22['taxonID'].nunique():,} \t\t|
    | eBird | 2019 | nunq species (fil)  |   {df_eBird3['TAXON CONCEPT ID'].nunique():,} \t\t|
    | eBird | 2022 | nunq species (fil)  |   {df_eBird3_22['TAXON CONCEPT ID'].nunique():,} \t\t|
    | iNat  | 2019 | nunq species (fil)  |   {df_iNat4['taxonID'].nunique():,} \t\t|
    | iNat  | 2022 | nunq species (fil)  |   {df_iNat4_22['taxonID'].nunique():,} \t\t|
""")

# Merging iNat and eBird

In [34]:
df_tax_key = pd.read_csv('../data/query_taxonIDs_various.csv')

/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/2743186917.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tax_key = pd.read_csv('../data/query_taxonIDs_various.csv')

In [35]:
df_tax_key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830987 entries, 0 to 830986
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   item       830987 non-null  object
 1   iNat_Tid   830987 non-null  object
 2   ITIS_TSN   314392 non-null  float64
 3   GBF_ID     809035 non-null  float64
 4   avibaseid  8795 non-null    object
dtypes: float64(2), object(3)
memory usage: 31.7+ MB

# Adding avibase-id to iNat

In [36]:
df_tax_key_fil = df_tax_key[~df_tax_key['avibaseid'].isna()]

In [37]:
df_tax_key_fil = df_tax_key_fil[df_tax_key_fil['iNat_Tid']!='Frank'].copy()

In [38]:
df_tax_key_fil['iNat_Tid_num']= df_tax_key_fil['iNat_Tid'].astype(float)

In [39]:
merge_process1 = df_iNat4.merge(right=df_tax_key_fil, how='left', left_on='taxonID', right_on='iNat_Tid_num')
merge_process1_22 = df_iNat4_22.merge(right=df_tax_key_fil, how='left', left_on='taxonID', right_on='iNat_Tid_num')

In [40]:
merge_process2 = [x[0:8] for x in merge_process1['avibaseid'].dropna().values]
merge_process2_22 = [x[0:8] for x in merge_process1_22['avibaseid'].dropna().values]

In [41]:
merge_process3 = list(set(merge_process2))
merge_process3_22 = list(set(merge_process2))

In [42]:
len(merge_process3), len(merge_process3_22)

(392, 392)

In [43]:
final_list_birds = [x for x in df_eBird3['AVIBASEID'].unique() if x in merge_process3]
final_list_birds_22 = [x for x in df_eBird3_22['AVIBASEID'].unique() if x in merge_process3_22]

In [44]:
len(final_list_birds), len(final_list_birds_22)

(353, 341)

### Interestingly enough the number of birds that are common in both iNat and Avibase have decreased!

In [45]:
final_list_birds2_l = list(set(final_list_birds))
final_list_birds2_s = set(final_list_birds)
final_list_birds2_l_22 = list(set(final_list_birds_22))
final_list_birds2_s_22 = set(final_list_birds_22)

In [46]:
len(final_list_birds2_l), len(final_list_birds2_l_22)

(353, 341)

# Filtering only the relevant birds

In [47]:
df_eBird4 = df_eBird3[df_eBird3['AVIBASEID'].isin(final_list_birds2_s)]
df_eBird4_22 = df_eBird3_22[df_eBird3_22['AVIBASEID'].isin(final_list_birds2_s_22)]

In [48]:
merge_process1.shape, merge_process1_22.shape

((364365, 18), (660098, 18))

In [49]:
df_iNat5 = merge_process1[~(merge_process1['avibaseid'].isna())].copy()
df_iNat5_22 = merge_process1_22[~(merge_process1_22['avibaseid'].isna())].copy()

In [50]:
df_iNat5['AVIBASEID'] = df_iNat5['avibaseid'].apply(lambda x: x[0:8])
df_iNat5_22['AVIBASEID'] = df_iNat5_22['avibaseid'].apply(lambda x: x[0:8])

In [51]:
df_iNat6 = df_iNat5.drop_duplicates().copy()
df_iNat6_22 = df_iNat5_22.drop_duplicates().copy()

In [52]:
df_iNat7 = df_iNat6[df_iNat6['AVIBASEID'].isin(final_list_birds2_s)]
df_iNat7_22 = df_iNat6_22[df_iNat6_22['AVIBASEID'].isin(final_list_birds2_s_22)]

# Adding Bird Name

In [53]:
name_birds = df_eBird[['TAXON CONCEPT ID', 'COMMON NAME']]
name_birds_22 = df_eBird_22[['TAXON CONCEPT ID', 'COMMON NAME']]

In [54]:
name_birds2 = name_birds.drop_duplicates().copy()
name_birds2_22 = name_birds_22.drop_duplicates().copy()

In [55]:
name_birds2.shape, name_birds2_22.shape

((1088, 2), (1108, 2))

In [56]:
name_birds2['AVIBASEID'] = name_birds2['TAXON CONCEPT ID'].apply(lambda x: x[-8:])
name_birds2_22['AVIBASEID'] = name_birds2_22['TAXON CONCEPT ID'].apply(lambda x: x[-8:])

In [57]:
df_eBird5 = df_eBird4.merge(name_birds2, how='left', on='AVIBASEID')
df_eBird5_22 = df_eBird4_22.merge(name_birds2_22, how='left', on='AVIBASEID')

In [58]:
df_iNat8 = df_iNat7.merge(name_birds2, how='left', on='AVIBASEID')
df_iNat8_22 = df_iNat7_22.merge(name_birds2_22, how='left', on='AVIBASEID')

In [59]:
eBird_avibaseid_counts = df_eBird5.groupby(['AVIBASEID']).count()['STATE'].to_dict()
eBird_avibaseid_counts_22 = df_eBird5_22.groupby(['AVIBASEID']).count()['STATE'].to_dict()

In [60]:
iNat_avibaseid_counts = df_iNat8.groupby("AVIBASEID").count()['stateProvince'].to_dict()
iNat_avibaseid_counts_22 = df_iNat8_22.groupby("AVIBASEID").count()['stateProvince'].to_dict()

In [61]:
df_eBird5['COMMON NAME'] = df_eBird5['COMMON NAME_x']
df_eBird5_22['COMMON NAME'] = df_eBird5_22['COMMON NAME_x']

In [62]:
eBird_weekly_counts = df_eBird5.groupby(['AVIBASEID', 'COMMON NAME', 'WEEK']).count().reset_index()
eBird_weekly_counts_22 = df_eBird5_22.groupby(['AVIBASEID', 'COMMON NAME', 'WEEK']).count().reset_index()

In [63]:
eBird_weekly_counts2 = eBird_weekly_counts[['AVIBASEID', 'COMMON NAME', 'WEEK', 'COUNTRY']].copy()
eBird_weekly_counts2_22 = eBird_weekly_counts_22[['AVIBASEID', 'COMMON NAME', 'WEEK', 'COUNTRY']].copy()

In [64]:
eBird_weekly_counts2_22

      AVIBASEID             COMMON NAME  WEEK  COUNTRY
0      000482C9          Orchard Oriole    22        7
1      000482C9          Orchard Oriole    35        5
2      000482C9          Orchard Oriole    37       16
3      000482C9          Orchard Oriole    38       28
4      000482C9          Orchard Oriole    39       44
...         ...                     ...   ...      ...
13827  FFF61080  Orange-crowned Warbler    48      173
13828  FFF61080  Orange-crowned Warbler    49      154
13829  FFF61080  Orange-crowned Warbler    50      332
13830  FFF61080  Orange-crowned Warbler    51      167
13831  FFF61080  Orange-crowned Warbler    52      446

[13832 rows x 4 columns]

In [65]:
eBird_weekly_counts2.columns = [
    'AVIBASEID', 'COMMON NAME', 'WEEK', 'COUNTS'
]
eBird_weekly_counts2_22.columns = [
    'AVIBASEID', 'COMMON NAME', 'WEEK', 'COUNTS'
]

In [66]:
eBird_weekly_counts2

      AVIBASEID             COMMON NAME  WEEK  COUNTS
0      000482C9          Orchard Oriole     1      50
1      000482C9          Orchard Oriole     2      17
2      000482C9          Orchard Oriole     3       8
3      000482C9          Orchard Oriole     4       6
4      000482C9          Orchard Oriole     5      11
...         ...                     ...   ...     ...
13675  FFF61080  Orange-crowned Warbler    48     135
13676  FFF61080  Orange-crowned Warbler    49     141
13677  FFF61080  Orange-crowned Warbler    50     227
13678  FFF61080  Orange-crowned Warbler    51     183
13679  FFF61080  Orange-crowned Warbler    52     228

[13680 rows x 4 columns]

In [67]:
eBird_weekly_counts2['REL_COUNTS'] = eBird_weekly_counts2.apply(
    lambda row: row['COUNTS']/ eBird_avibaseid_counts[row['AVIBASEID']],
    axis=1
).copy()
eBird_weekly_counts2_22['REL_COUNTS'] = eBird_weekly_counts2_22.apply(
    lambda row: row['COUNTS']/ eBird_avibaseid_counts_22[row['AVIBASEID']],
    axis=1
).copy()

In [68]:
eBird_weekly_counts2

      AVIBASEID             COMMON NAME  WEEK  COUNTS  REL_COUNTS
0      000482C9          Orchard Oriole     1      50    0.119048
1      000482C9          Orchard Oriole     2      17    0.040476
2      000482C9          Orchard Oriole     3       8    0.019048
3      000482C9          Orchard Oriole     4       6    0.014286
4      000482C9          Orchard Oriole     5      11    0.026190
...         ...                     ...   ...     ...         ...
13675  FFF61080  Orange-crowned Warbler    48     135    0.006774
13676  FFF61080  Orange-crowned Warbler    49     141    0.007075
13677  FFF61080  Orange-crowned Warbler    50     227    0.011390
13678  FFF61080  Orange-crowned Warbler    51     183    0.009183
13679  FFF61080  Orange-crowned Warbler    52     228    0.011441

[13680 rows x 5 columns]

In [69]:
eBird_weekly_counts2['REL_COUNTS'].sum()

353.0

In [70]:
eBird_weekly_counts2_22['REL_COUNTS'].sum()

341.0

In [71]:
iNat_weekly_counts = df_iNat8.groupby(['AVIBASEID', 'COMMON NAME', 'WEEK']).count().reset_index()
iNat_weekly_counts_22 = df_iNat8_22.groupby(['AVIBASEID', 'COMMON NAME', 'WEEK']).count().reset_index()

In [72]:
iNat_weekly_counts2 = iNat_weekly_counts[['AVIBASEID', 'COMMON NAME', 'WEEK', 'countryCode']].copy()
iNat_weekly_counts2_22 = iNat_weekly_counts_22[['AVIBASEID', 'COMMON NAME', 'WEEK', 'countryCode']].copy()

In [73]:
iNat_weekly_counts2.columns = [
    'AVIBASEID', 'COMMON NAME', 'WEEK', 'COUNTS'
]
iNat_weekly_counts2_22.columns = [
    'AVIBASEID', 'COMMON NAME', 'WEEK', 'COUNTS'
]

In [74]:
iNat_weekly_counts2

     AVIBASEID             COMMON NAME  WEEK  COUNTS
0     000482C9          Orchard Oriole     1       1
1     000482C9          Orchard Oriole     2       2
2     000482C9          Orchard Oriole     9       1
3     000482C9          Orchard Oriole    38       1
4     000482C9          Orchard Oriole    40       2
...        ...                     ...   ...     ...
8848  FFF61080  Orange-crowned Warbler    48       1
8849  FFF61080  Orange-crowned Warbler    49       2
8850  FFF61080  Orange-crowned Warbler    50       4
8851  FFF61080  Orange-crowned Warbler    51       1
8852  FFF61080  Orange-crowned Warbler    52       4

[8853 rows x 4 columns]

In [75]:
iNat_weekly_counts2['REL_COUNTS'] = iNat_weekly_counts2.apply(
    lambda row: row['COUNTS']/ iNat_avibaseid_counts[row['AVIBASEID']],
    axis=1
).copy()
iNat_weekly_counts2_22['REL_COUNTS'] = iNat_weekly_counts2_22.apply(
    lambda row: row['COUNTS']/ iNat_avibaseid_counts_22[row['AVIBASEID']],
    axis=1
).copy()

In [76]:
iNat_weekly_counts2['REL_COUNTS'].sum()

352.99999999999994

In [77]:
iNat_weekly_counts2.groupby(['AVIBASEID']).sum()['COUNTS'].values

/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/351623232.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  iNat_weekly_counts2.groupby(['AVIBASEID']).sum()['COUNTS'].values

array([   8,  606,   98,  201,  121,   12,    9,   45,  115,  179,    4,
         10,  235,  200,  197,    5,    1,   44,  176,  267,   83,    1,
          2,  193,  311,   41,    3,    1,    6,  252,   78,   10,   28,
         17,   45,   66,   32,    3, 1260,  121,   44,   30,   20,   40,
         12,    5,  149,  266,    5,   33,    1,  284,   40,    2,   11,
        205,    5,    3,    8,  146,  608,  677,  269,  347,  396,  438,
          8,   45,  140,    6,  182,  188,  383,   23,    4,    4,   19,
         40,    9,   23,  157,   81,   27,   13,    1,  211,  496,  236,
        251,  127,    9, 1160,   76,    9,   32,  195,    3,  961,   41,
         75,  132,   88,  326,    1,    1,   46,    6, 1931,   76,  248,
          6,    5, 1537,   16,  358,   16,   38,   49,    6,    4,    8,
          2,    2,   88,  140,  428,  185,    9, 2342,  170,   41,    3,
         26,  961,  281, 1279,   15,   50,  364,   21,   35,  219,    6,
        145,   64,  418,  145,  320,    1,   22,    1,   27,    3,  376,
        101,  375,    4,   64,  771,   14,   88,  105,    1,    1,   12,
        473,    3,   18,  433,  212,   86,   88,   63,  150,  196,    3,
         27,    2,    1,    3,  225,  870,  162,  491,  472,   64,  202,
          3,   44, 1828, 1539,    5,  480,  293,   28,    9,    3,   50,
          6, 1070,   57,    2,    1,   60,  517,   15,  157,   24,   95,
         16,   18, 1454,    2,  293,   35,  416,   81,    2,  112,    5,
         64,  144,    2,   22,   11,  612,    3,    1,  959, 1297,    1,
        112,    1,  609,    9,  103,    4,    2,  441,    8,   45, 1098,
          1,   17,   52, 1158,   31,   56, 1005,   14,    9,   30,  130,
        326,  181, 1501,    8,   48,   58,  115, 1238,   21,  858,    7,
         19,   41,    2,    3,  827,  150,  167,  102,  183,   18,  313,
         29,  230,  834,   12,  623,  221,  354,  910,   57,    6,    2,
         11,  352,  143,   24,    6,    1,   21,    1,  360,  239,  507,
        122,    2,  160,  204,  280,    4,  152,    1,   17,   10,    9,
         21,   25,    5,  112,  181,  213,   10,  203,    1,    1,   69,
         54,  183,  535,   30, 1047,  745,   14,   32,  488,    2,  577,
         23,  175,    2,   70,   33,    1,  667,  278,   67,  342,  136,
         18,    8,    1,  306,  566,    9,  590,  352,  239,  276,  574,
        191])

In [78]:
iNat_weekly_counts2\
    .groupby(['AVIBASEID']).sum()['COUNTS']\
        [(iNat_weekly_counts2.groupby(['AVIBASEID'])\
        .sum()['COUNTS'].values)>=50].sort_values()[0:10]

/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/3697873596.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .groupby(['AVIBASEID']).sum()['COUNTS']\
/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_16421/3697873596.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()['COUNTS'].values)>=50].sort_values()[0:10]

AVIBASEID
88AB027C    50
58312873    50
A8C34DC9    52
E53FC25C    54
AC1E519F    56
89F8B6F5    57
BD929CBC    57
B48335B1    58
8DB64266    60
7784B060    63
Name: COUNTS, dtype: int64

In [79]:
name_avID_dict = iNat_weekly_counts2.iloc[:, 0:2].drop_duplicates().copy().set_index('AVIBASEID')['COMMON NAME'].to_dict()
name_avID_dict_22 = iNat_weekly_counts2_22.iloc[:, 0:2].drop_duplicates().copy().set_index('AVIBASEID')['COMMON NAME'].to_dict()

In [80]:
eBird_weekly_counts2

      AVIBASEID             COMMON NAME  WEEK  COUNTS  REL_COUNTS
0      000482C9          Orchard Oriole     1      50    0.119048
1      000482C9          Orchard Oriole     2      17    0.040476
2      000482C9          Orchard Oriole     3       8    0.019048
3      000482C9          Orchard Oriole     4       6    0.014286
4      000482C9          Orchard Oriole     5      11    0.026190
...         ...                     ...   ...     ...         ...
13675  FFF61080  Orange-crowned Warbler    48     135    0.006774
13676  FFF61080  Orange-crowned Warbler    49     141    0.007075
13677  FFF61080  Orange-crowned Warbler    50     227    0.011390
13678  FFF61080  Orange-crowned Warbler    51     183    0.009183
13679  FFF61080  Orange-crowned Warbler    52     228    0.011441

[13680 rows x 5 columns]

In [81]:
eBird_curves_discrete_raw = eBird_weekly_counts2.pivot_table(index='AVIBASEID', columns='WEEK', values='COUNTS' )
eBird_curves_discrete_22_raw = eBird_weekly_counts2_22.pivot_table(index='AVIBASEID', columns='WEEK', values='COUNTS' )

In [82]:
iNat_curves_discrete_raw = iNat_weekly_counts2.pivot_table(index='AVIBASEID', columns='WEEK', values='COUNTS' )
iNat_curves_discrete_22_raw = iNat_weekly_counts2_22.pivot_table(index='AVIBASEID', columns='WEEK', values='COUNTS' )

In [83]:
df_eb19_ana = pd.read_parquet('./generated_data/eBird_curves_19_final_anomalous.parquet')

In [84]:
birds_anomalous = list(df_eb19_ana.index)

In [85]:
birds_anomalous

['2DABF98F',
 'AF0C7BDE',
 'BCBD2EAE',
 '4AAEF549',
 'C5971E25',
 'B48335B1',
 'E1714A09',
 '1456993D',
 '4E192262',
 'BB6B236F',
 '0716A71C',
 'F6DF700B',
 '28A4DA76',
 '90B13ACF']

In [86]:
eb19_raw_counts_all = eBird_curves_discrete_raw.copy()
eb22_raw_counts_all = eBird_curves_discrete_22_raw.copy()
in19_raw_counts_all = iNat_curves_discrete_raw.copy()
in22_raw_counts_all = iNat_curves_discrete_22_raw.copy()

In [87]:
eb19_raw_counts_all.fillna(0, inplace=True)
eb22_raw_counts_all.fillna(0, inplace=True)
in19_raw_counts_all.fillna(0, inplace=True)
in22_raw_counts_all.fillna(0, inplace=True)

In [88]:
eb19_raw_counts_all

WEEK,1,2,3,4,5,6,7,8,9,10,...,43,44,45,46,47,48,49,50,51,52
AVIBASEID,,,,,,,,,,,,,,,,,,,,,
000482C9,50.0,17.0,8.0,6.0,11.0,3.0,6.0,4.0,4.0,6.0,...,11.0,14.0,16.0,17.0,18.0,9.0,2.0,9.0,12.0,18.0
00124D98,1545.0,1202.0,896.0,1309.0,1093.0,1132.0,1143.0,1295.0,1063.0,1240.0,...,708.0,873.0,836.0,1005.0,906.0,836.0,886.0,1276.0,1070.0,1184.0
00635FF9,59.0,32.0,40.0,61.0,22.0,28.0,38.0,65.0,16.0,31.0,...,55.0,45.0,74.0,70.0,55.0,24.0,22.0,67.0,33.0,55.0
01060BFD,229.0,186.0,101.0,234.0,97.0,164.0,124.0,184.0,88.0,99.0,...,161.0,211.0,247.0,174.0,189.0,169.0,153.0,172.0,102.0,155.0
018B3169,374.0,342.0,225.0,380.0,275.0,240.0,241.0,352.0,218.0,169.0,...,54.0,162.0,230.0,189.0,196.0,204.0,202.0,292.0,141.0,245.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FC366114,394.0,251.0,202.0,314.0,203.0,213.0,199.0,285.0,183.0,228.0,...,156.0,145.0,185.0,194.0,177.0,100.0,143.0,331.0,225.0,197.0
FD2B0309,168.0,114.0,98.0,167.0,50.0,43.0,53.0,111.0,19.0,83.0,...,84.0,115.0,100.0,139.0,142.0,98.0,49.0,52.0,94.0,88.0
FED3756C,403.0,307.0,250.0,446.0,154.0,228.0,208.0,255.0,178.0,150.0,...,117.0,125.0,129.0,207.0,315.0,202.0,145.0,333.0,244.0,286.0
FF592882,1256.0,986.0,705.0,1028.0,775.0,798.0,870.0,1138.0,784.0,784.0,...,920.0,1105.0,1049.0,1205.0,946.0,842.0,737.0,1415.0,784.0,1088.0
FFF61080,273.0,204.0,109.0,169.0,132.0,97.0,85.0,228.0,126.0,182.0,...,139.0,164.0,170.0,171.0,246.0,135.0,141.0,227.0,183.0,228.0

In [89]:
eb19_raw_counts_all.columns = ['Week-'+str(x) for x in eb19_raw_counts_all.columns]

In [90]:
eb22_raw_counts_all.columns = ['Week-'+str(x) for x in eb22_raw_counts_all.columns]
in19_raw_counts_all.columns = ['Week-'+str(x) for x in in19_raw_counts_all.columns]
in22_raw_counts_all.columns = ['Week-'+str(x) for x in in22_raw_counts_all.columns]

In [91]:
eb19_raw_counts_all.to_parquet('./generated_data/eb19_raw_counts_all.parquet')
eb22_raw_counts_all.to_parquet('./generated_data/eb22_raw_counts_all.parquet')
in19_raw_counts_all.to_parquet('./generated_data/in19_raw_counts_all.parquet')
in22_raw_counts_all.to_parquet('./generated_data/in22_raw_counts_all.parquet')